<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<flashy>
			<flashy>
				<active>1</active>
				<log>1</log>
				<purchase>1</purchase>
				<flashy_key/>
				<flashy_connected/>
			</flashy>
			<flashy_lists>
				<flashy_list/>
			</flashy_lists>
			<flashy_catalog>
				<flashy_catalog_url/>
			</flashy_catalog>
		</flashy>
	</default>
</config>
