.admin__menu .level-0.item-flashy > a:before {
    content: url('../images/flashy-blue.png');
}
.flashy-connected{
    color:#00cc00;
}
.flashy-not-connected{
    color:#cc0000;
}
.flashy-exception {
    color: #eb5202;
}
.flashy-connected::before{
    content: '\e62d';
}
.flashy-not-connected::before, .flashy-exception:before{
    content: '\e623';
}
.flashy-connected::before, .flashy-not-connected::before, .flashy-exception:before{
    font-family: 'Admin Icons';
    margin-right: 5px;
}
